* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
    /* colors  */
    --Color1: #33d2fd;
    --Color2: #1f2021;
    --Color3: #353235;
    --Color4: white;
    --Color5: #4a4b4c;
    --ColorBlur: #33d2fd73;

    --conteners-width:70%;
}
/* for titles in all pages */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.title h2 {
    color: var(--Color1);
    padding: 20px;

}
.title span {
    color: var(--Color1);
    width: 10px;
    height: 10px;
    background-color: var(--Color4);
    border: solid 2px;
    border-radius: 50%;
    z-index: 3;
}
.title hr {
    color: var(--Color1);
    width: 80px;
    height: 1px;
    background-color: var(--Color1);
    transform: translate(0px, -7px);
    z-index: 2;
    border: solid 1px var(--Color1);
}
.title p {
    width: 70%;
    padding: 10px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 
    system-ui, 
    'Segoe UI', 
    'Open Sans', 
    'Helvetica Neue', 
    sans-serif;
}
/* home page start */
.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/dream-blue.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.overlay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(10 10 10 / 40%);
}
header {
    height: 70px;
    width: var(--conteners-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: var(--Color4) solid 2px;
}
header img {
    width: 150px;
}
header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 0px 50px;
}
header .nav-a {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav-a a {
    display: flex;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 14px;
    height: 63px;
    color: var(--Color4);
    justify-content: center;
    align-items: center;
    z-index: 777;
}
@media (min-width:726px) {
    header .nav-a a:hover {
        color: var(--Color1);
        font-weight: bold;
        border-bottom: 2px solid var(--Color1);
        position: relative;
        top: 2px;
        z-index: 3;
    }
}
header .searsh i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 28px;
    color: var(--Color4);
    border-left: solid var(--Color4);
}
header .searsh i:hover {
    color: var(--Color1);
    border-left: solid var(--Color1);
}
@media (max-width: 1168px) {
    header {
        width: 85%;
    }
    header .nav {
        padding: 0px 25px;
    }
    header .nav a {
        padding: 0px 6px;
    }
}
@media (max-width: 965px) {
    header {
        width: 85%;
    }
}
@media (min-width: 652px) {
    header .nav i {
        display: none;
    }
}
@media (max-width: 651px) {
    .menu {
        display: flex;
        background-color: transparent;
        height: 64px;
        width: 60px;
        align-items: center;
        justify-content: center;
    }
    header .nav .menu i {
        font-size: 25px;
        color: var(--Color4);
    }
    header .nav .menu:hover i {
        color: var(--Color1);
    }
    header .nav-a {
        display: none;
    }
    header .nav {
        padding: 0px 0px;
    }
    header .nav .menu:hover .nav-a {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 70px;
        position: absolute;
        background-color: var(--ColorBlur);
        top: 66px;
        right: 0%;
        justify-content: center;
        align-items: center;
    }
    header .nav .menu:hover .nav-a a {
        width: 80px;
        height: auto;
        padding: 0px 5px;
        text-align: center;
    }
    header .nav .menu:hover .nav-a a:hover {
        color: var(--Color1);
    }
}
.hello-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--conteners-width);
    height: 100vh;
}
.hello-contener {
    display: flex;
    height: 300px;
    width: 50%;
    background-color: var(--ColorBlur);
    position: absolute;
    right: 50%;
    justify-content: flex-end;
}
.hello-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 100%;
    color: var(--Color4);
}
.hello-text h2 {
    padding: 15px;
    line-height: 40px;
    font-weight: bold;
}
.hello-text p {
    padding: 15px;
    line-height: 30px;
    letter-spacing: 1px;
}
@media (max-width: 1168px) {
    .hello-contener {
        width: 100%;
        position: relative;
        right: 0%;
        justify-content: center;
    }
    .hello-text {
        text-align: center;
    }
}
@media (max-width: 866px) {
    header {
        width: 100%;
    }
    .hello-section {
        width: 100%;
    }
    .hello-contener {
        width: 100%;
        position: relative;
        justify-content: center;
    }
    .hello-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 480px;
        height: 100%;
        color: var(--Color4);
    }
    .hello-text h2 {
        padding: 15px;
        line-height: 40px;
        font-weight: bold;
    }
    .hello-text p {
        padding: 15px;
        line-height: 30px;
    }
}
@media (max-width: 432px) {
    .hello-text h2 {
        padding: 10px;
        line-height: 25px;
        font-size: 16px; 
    }
    .hello-text p {
        padding: 10px;
        line-height: 23px;
        font-size: 13px; 
    }
}
.change {
    color: var(--Color4);
    position: absolute;
    bottom: 50%;
    font-size: 35px;
}
.left {
    left: 1%;
}
.right{
    right: 1%;
}
.ooo {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: row;
}
.ooo .o {
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: var(--Color4) 1px solid;
    border-radius: 50%;
    margin: 4px;
}
.ooo .here {
    width: 11px;
    height: 11px;
    background-color: var(--Color1);
    border: var(--Color4) 1px solid;
    border-radius: 50%;
    margin: 4px;
}
/* home page end */

/* services section start  */
/* section1 start  */
.services-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-section1 {
    width: var(--conteners-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.services-cards {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    margin-bottom: 60px;
}
.services-cards .cards {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.services-cards .cards i {
    color: var(--Color1);
    font-size: 40px;
    padding: 15px 50px 15px 10px;
}
.services-cards .cards h3 {
    color: var(--Color1);
    padding: 10px;
    padding-left: 0px
}
.services-cards .cards p {
    color: var(--Color2);
}
@media (max-width: 700px) {
    .services-section1 {
        width: 100%;
    }
    .title p {
        width: 85%;
    }
}
@media (max-width: 400px) {
    .services-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
    .services-cards .cards {
        padding: 20px;
    }
    .services-cards .cards i {
        font-size: 35px;
        padding: 15px 30px 15px 10px;
    }
}
/* section2  start  */
.services-section2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 54vh;
    background-image: url(../img/cityscape-night.jpg);
    background-size: cover;
    align-items: center;
}
.services-content {
    width: 50%;
    background-color: var(--ColorBlur);
    padding: 50px;
}
.services-content h3 {
    color: var(--Color4);
    padding: 20px;
    padding-left: 0px;
    font-size: 25px;
}
.our-services {
   display: flex;
   flex-direction: row;
}
.services-content i {
    color: var(--Color4);
    padding: 0px 20px 20px 0px;
    font-size: 25px;
}
.services-content p {
    color: var(--Color4);
    padding: 0px 10px 10px 10px;
    font-size: 18px;
}
@media (max-width: 1159px){
    .services-content {
        width: 70%;
        padding: 50px;
    }
}
@media (max-width: 710px){
    .services-content {
        width: 100%;
    }
}
@media (max-width: 502px){
    .services-content {
        width: 100%;
        padding: 20px;
    }
    .services-content h3 {
        padding: 20px 20px 20px 0px;
        font-size: 20px;
    }
    .services-content i {
        padding: 0px 10px 20px 0px;
        font-size: 20px;
    }
    .services-content p {
        padding: 0px 10px 10px 10px;
        font-size: 16px;
    }
}
body .back-button {
    position: sticky;
    display: flex;
    top: 95%;
    height: 0;
    padding-right: 5%;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
}
.back-button i {
    color: var(--Color1);
    font-size: 30px;
}
/* services section end  */

/* portfolio section start  */
.filter-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Color4);
    padding: 50px 0px 25px 0px;
}
.filter-portfolio .active {
    display: flex;
    color: var(--Color4);
    background-color: var(--Color1);
    width: 125px;
    height: 40px;
    text-decoration: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.filter-portfolio a {
    display: flex;
    color: var(--Color2);
    background-color: var(--Color4);
    width: 125px;
    height: 40px;
    text-decoration: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.filter-portfolio a:hover {
    display: flex;
    color: var(--Color4);
    background-color: var(--Color1);
    width: 125px;
    height: 40px;
    text-decoration: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 816px){
    .filter-portfolio .active {
        width: 95px;
        font-size: 13px;
        margin: 5px;
    }
    .filter-portfolio a {
        width: 95px;
        font-size: 13px;
        margin: 5px;
    }
    .filter-portfolio a:hover {
        color: var(--Color4);
        background-color: var(--Color1);
        width: 95px;
        height: 40px;
        margin: 5px;
    }
}
@media (max-width: 539px){
    .filter-portfolio {
        flex-flow: row wrap;
    }
    .filter-portfolio .active {
        width: 130px;
    }
    .filter-portfolio a {
        width: 130px;
    }
    .filter-portfolio a:hover {
        width: 130px;
    }
}
.portfolio-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.portfolio-cards {
    flex-basis: 25%;
    background-color: var(--Color3);
    border: var(--Color4) solid 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.portfolio-cards img {
    max-width: 100%;
}
.portfolio-cards p {
    display: none;
}
.portfolio-cards:hover p {
    display: flex;
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: var(--ColorBlur);
    color: var(--Color4);
    position: absolute;
    bottom: 0%;
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

@media (max-width: 1500px) {
    .portfolio-cards {
        flex-basis: calc(100% / 3);
    }
}
@media (max-width: 992px) {
    .portfolio-cards {
        flex-basis: 50%;
    }
}
@media (max-width: 678px) {
    .portfolio-cards {
        flex-basis: 100%;
    }
}
.portfolio-video {
    height: 40vh;
    background-image: url(../img/anonymous-hacker.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio-video .text-video {
    width: 100%;
    height: 200px;
    background-color: var(--ColorBlur);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-video .text-video h2 {
    color: var(--Color4);
}
.portfolio-video .text-video p {
    color: var(--Color4);
    padding: 20px 0px;
}
.portfolio-video .text-video .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Color4);
    background-color: var(--Color2);
    width: 100px;
    height: 30px;
}
@media (max-width: 440px) {
    .portfolio-video .text-video h2 {
        font-size: 17px;
    }
    .portfolio-video .text-video .see-more {
        width: 85px;
        height: 22px;
        font-size: 12px;
    }
}
/* portfolio section end  */

/* about section start  */
.about-section {
    height: 80vh;
    background-image: url(../img/rm309-adj-05.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-title {
    padding-top: 70px;
}
.about-section img {
    max-width: 100%;
    height: 100%;
}
.statistics-contener {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: var(--conteners-width);
    height: 150px;
    background-color: #00c9ffa8;
    margin-bottom: 100px;
}
.statistics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.statistics i {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Color2);
    color: var(--Color4);
    font-size: 25px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.statistics h1 {
    font-size: 45px;
    color: var(--Color4);
    padding: 5px;
}
.statistics p {
    color: var(--Color4);
    padding: 5px;
    font-size: 13px;
}
@media (max-width: 992px) {
    .statistics-contener {
        width: 85%;
    }
    .statistics i {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .statistics h1 {
        font-size: 33px;
        color: var(--Color4);
        padding: 5px;
    }
    .statistics p {
        color: var(--Color4);
        padding: 5px;
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    .statistics-contener {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .statistics h1 {
        font-size: 25px;
    }
    .statistics p {
        font-size: 10px;
    }
}
@media (max-width: 359px) {
    .statistics i {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
    .statistics h1 {
        font-size: 20px;
    }
    .statistics p {
        font-size: 9px;
        padding: 5px 0px;
    }
}
/* about us start  */
.aboutUs-section  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.aboutUs-contener  {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
}
.aboutUs-contener .about-us {
    flex-basis: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutUs-contener .about-us .top{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    max-width: 550px;
}
.aboutUs-contener .about-us .top h3{
    padding: 15px;
}
.aboutUs-contener .about-us .top p{
    padding: 5px;
}
.aboutUs-contener .about-us .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutUs-contener .about-us .body .o-p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 600px;
    padding-bottom: 15px;
}
@media (max-width: 992px) {
    .aboutUs-contener .about-us {
        flex-basis: 100%;
    }
    .aboutUs-contener .about-us .top {
        max-width: 550px;
    }
}
.aboutUs-contener .about-us .body img{
    max-width: 170px;
    padding-right: 15px;
}
@media (max-width: 540px) {
    .aboutUs-contener .about-us .body img {
        max-width: 140px;
    }
}
@media (max-width: 400px) {
    .aboutUs-contener .about-us .body .o-p{
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    .aboutUs-contener .about-us .body .o-p img{
        padding-bottom: 20px;
    }
}
.aboutUs-contener .about-us .body .points{
    display: flex;
}
.aboutUs-contener .about-us .body .points .point{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: var(--Color1) 1px solid;
    border-radius: 50%;
    margin: -25px 3px 0px;
}
.aboutUs-contener .about-us .body .points .here{
    background-color: var(--Color1);
}
.aboutUs-contener .about-us .body .paragragh{
    border-bottom: var(--Color2) 1px solid;
}
.aboutUs-contener .about-us .body .paragragh .print{
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
    padding-bottom: 15px;
}
@media (max-width: 500px) {
    .aboutUs-contener .about-us .body .points .point {
        margin: -10px 3px 0px;
    }
}
@media (max-width: 400px) {
    .aboutUs-contener .about-us .body .points .point {
        margin: 0px 3px 0px;
    }
}
.about-us .skills {
    width: 490px;
    display: flex;
    flex-direction: column;
}
.about-us .skills p {
    padding: 20px 0px 5px;
}
.about-us .skills .level{
    background-color: #eee;
    height: 30px;
    width: 100%;
}
.about-us .skills .level hr{
    position: relative;
    background-color: var(--Color1);
    height: 99%;
}
.about-us .skills .level hr::before{
    content: attr(data-progress);
    position: absolute;
    right: -15px;
    bottom: 40px;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 4px;
}
.about-us .skills .level hr::after{
    content: "";
    position: absolute;
    right: -7px;
    bottom: 24px;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;

}
@media (max-width: 540px) {
    .body-skills {
        width: 100%;
    }
    .about-us .skills {
        width: 100%;
    }
}
.about-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/fisherman-misty-bar.jpg);
    background-size: cover;
    height: 280px;
}
.about-footer .back {
    justify-content: center;
}
.about-footer .about-foo {
    background-color: transparent;
    color: var(--Color4);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.about-footer .about-foo h3 {
    padding: 15px;
}
@media (max-width: 725px) {
    .about-footer {
        background-image: url(../img/fisherman-misty-bar2.jpg);
    }
    .about-footer .about-foo {
        width: 100%;
    }
    .about-footer .about-foo p {
        font-size: 11px;
    }
}
/* about section end  */

/* subscriptions section start  */
.subscriptions {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.sub-columns {    
    text-align: center;
    padding: 15px;
    width: 260px;
}
.sub-columns .sub-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid var(--Color1);
}
.sub-columns .sub-type h5 {
    padding: 20px 20px 0px;;
}
.sub-columns .sub-type h1 {
    font-size: 50px;
    padding: 15px 0px;
}
.sub-columns .sub-type h1::before {
    content: "$";
    font-size: 20px;
    position: relative;
    bottom: 20px;
    padding-right: 10px;
}
.sub-columns .sub-type span {
    font-size: 14px;
}
.sub-columns .paragraghs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue var(--Color1);
    border-bottom: 2px solid var(--Color1);
    border-top: 2px solid var(--Color1);
}
.sub-columns .paragraghs :last-child {
    border-bottom: none;
}
.sub-columns .paragraghs p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 60px;
    border-bottom: 2px solid var(--Color1);
}
.sub-columns .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: solid 2px var(--Color1);
}
.sub-columns .buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 35px;
    border: solid 2px var(--Color1);
}
.sub-columns .buy-button:hover {
    background-color: var(--Color1);
    color: var(--Color4);
}
 /*next, format for normal subscription  */
.normal-sub .sub-type {
    border-top: 2px solid var(--Color2);
}
.normal-sub .paragraghs {
    background-color: aliceblue var(--Color2);
    border-bottom: 2px solid var(--Color2);
    border-top: 2px solid var(--Color2);
}
.normal-sub .paragraghs p {
    border-bottom: 2px solid var(--Color2);
}
.normal-sub .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid var(--Color2);
}
.normal-sub .buy-button {
    border: solid 2px var(--Color2);
}
.normal-sub .buy-button:hover {
    background-color: var(--Color2);
    color: var(--Color4);
}
@media (max-width: 796px) {
    .sub-columns {
        padding: 50px 20px;
    }
}
.special-request {
    text-align: center;
    padding-top: 100px;
}
.special-request .request {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.special-request .request-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    color: var(--Color4);
    background-color: var(--Color1);
    border: solid 2px var(--Color1);
}
.subscripe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-image: url(../img/guilin-city-bar.jpg);
    background-size: cover;
    height: 280px;
}
.subscripe-section .back {
    justify-content: center;
    flex-flow: row wrap;
}
@media (max-width: 900px) {
    .subscripe-section .back {
        justify-content: center;
        flex-flow: column-reverse;
    }
}
.subscripe-section p {
    width: 500px;
    color: var(--Color4);
    padding: 20px;
}
.send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 2px var(--Color4);
    margin: 20px;
}
.send-email i {
    padding: 12px;
    color: var(--Color4);
    background-color: transparent;
}
.send-email .email {
    height: 40px;
    width: 370px;
    border: none;
    background-color: transparent;
    color: var(--Color4);
}
.send-email .email::placeholder {
    font-size: 10px;
    color: var(--Color4);
}
.send-email .email:focus-visible {
    height: 38px;
}
.send-email .subscripe-button {
    width: 80px;
    height: 40px;
    color: var(--Color4);
    border: none;
    background-color: var(--Color1);
}
.send-email .subscripe-button:valid {
    font-size: 11px;
}
@media (max-width: 1060px) {
    .send-email .email {
        height: 39px;
        width: 320px;
        border: none;
        background-color: transparent;
    }
    .subscripe-section p {
        width: 400px;
        color: var(--Color4);
        padding: 20px;
    }
}
@media (max-width: 898px) {
    .subscripe-section {
        flex-direction: column-reverse;
    }
    .send-email {
        margin: 0px 20px;
    }
}
@media (max-width: 490px) {
    .send-email .subscripe-button {
        width: 70px;
    }
    .send-email .email {
        width: 260px;
    }
    .send-email i {
        padding: 10px;
        font-size: 13px;
    }
}
@media (max-width: 425px) {
    .subscripe-section p {
        width: 280px;
        padding: 20px;
    }
    .send-email {
        margin: 0px 0px;
    }
    .send-email .email {
        width: 200px;
    }
    .send-email .subscripe-button {
        width: 48px;
    }
    .send-email .subscripe-button:valid {
        font-size: 8px;
    }
    .send-email i {
        padding: 7px;
        font-size: 11px;
    }
}
/* subscriptions section end  */

/* contact section start  */
.contact-page {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.contact-contener {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;  
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.contact-info input {
    width: 500px;
    height: 40px;
    margin: 13px 0px;
    border: solid 2px var(--Color1);
}
.contact-info input:focus-visible {
    border: solid 2px var(--Color2);
}
.contact-info .message {
    min-height: 130px;
}
.contact-info .message::placeholder {
    position: relative;
    bottom: 43px;
}
.our-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 260px;
    padding: 0px 20px;
}
.our-info p {
    font-size: 11px;
    color: var(--Color5);
    padding-bottom: 5px;
}
.our-info h6 {
    padding-bottom: 54px;
}
.our-info .git-in {
    padding-bottom: 28px;
}
.contact-page .send-messge {
    width: 120px;
    height: 40px;
    color: var(--Color4);
    background-color: var(--Color1);
    border: none;
    margin-bottom: 40px;
}
@media (max-width: 701px) {
    .contact-info {
        padding: 25px 0px;
    }
    .our-info {
        align-items: flex-start;
        flex-flow: row wrap;
        height: 180px;
        padding: 0px 0px;
    }
    .our-info .git-in {
        padding: 0px 15px;
    }
    .our-info .where-are {
        padding: 0px 15px;
    }
}
@media (max-width: 539px) {
    .contact-info {
        padding: 0px;
    }
    .contact-info input {
        width: 400px;
    }
}
@media (max-width: 420px) {
    .contact-info input {
        width: 340px;
    }
}
@media (max-width: 350px) {
    .contact-info input {
        width: 270px;
    }
}
/* contact section end  */
/* footer section start  */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--Color2);
}
.footer-contener {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-contener img {
    width: 130px;
    padding: 35px 0px 15px;
}
.footer-contener h3 {
    color: var(--Color4);
    padding: 10px 25px;
    border-bottom: 1px solid;
}
.footer-contener .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}
.footer-contener .social-links a {
    color: var(--Color4);
    padding: 0px 10px;
}
.footer-contener .social-links a:hover {
    color: var(--Color1);
}
.footer-contener p {
    color: var(--Color4);
    padding: 35px 0px;
}
.footer-contener span {
    color: var(--Color1);
}
/* footer section end  */